<app-layout titulo="Liquidaciones: Timbrado"> 
  <app-full-tableV2
    #fullTable
    [fetchDataFunction]="apiCfdiLiq.getLiquidaciones.bind(apiCfdiLiq)"
    [showCreateButtonModal]="false"
    [showFilterInactivos]="false"
    [nombreMenu]="'Liquidaciones'"
    [nombreTabla]="'Liquidaciones'"
    [columnConfigs]="ColumnConfigsLiquidaciones"
    [excelFileName]="'LiquidacionesParaTimbrado'"
    [isReport]="false"
    [tableConfigs]="tableConfigsLiquidaciones"
    [mostrarFiltroGeneralFechas]="false"
    [showExportarButton]="false"
    [actions]="tableActions"
    [selectable]="true"
    [showSelectAll]="true"
    (selectedRowsChange)="onSelectedRows($event)"
  >
    <button style="margin-left: 15px"
      extraHeaderButtons
      mat-raised-button
      color="primary"
      (click)="timbrarLote()"
      [disabled]="selectedLiquidaciones.length === 0"
    >
      Timbrar seleccionados
    </button>
  </app-full-tableV2>

</app-layout>
