.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 100%;
}

.login-form {

    padding: 10%;
    box-shadow: 5px 8px 10px 10px #b1afaf26;
    border-radius: 10px;
}

.btnSubmit {
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
   
}

.item {
    margin-bottom: 10px;
}

label {
    color: #9f9f9f;
}

h3 {
    color: #959595;
}
