.body{
    /* background-color: #f8f9fa; */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 15px;
}
