<!-- <app-layout titulo="Ingreso Operadores">

    <app-full-tableV2 [data]="datosFiltrados"  [showCreateButtonModal]="false"
    
    [mostrarFiltroGeneralFechas]="true" 
    [showFilterInactivos]="false"
   [nombreMenu]="'Ingreso Operadores'" [columnConfigs]="columnConfigs"
   [fetchDataFunction]="apiRh.reporteIngresoOperadores.bind(apiRh)"
   [beforeExportExcelFunction]="apiRh.reporteOperadoresActualizarEstatusTimbrado.bind(apiRh)"
   [parametros]="parametrosGeneralesIngresoOperador"
   [excelFileName]="'IngresoOperadores'"  [tableConfigs]="tableConfigs"
   ></app-full-tableV2>

</app-layout> -->

<app-layout titulo="Ingreso Operadores">

  <div class="container-fluid">
    <form class="row" [formGroup]="formFiltros">
      <div class="col-4">
        <mat-form-field class="w-100">
          <mat-label>Desde</mat-label>
          <input matInput [matDatepicker]="pickerDesde" formControlName="fechaDesde"
            [max]="formFiltros.value.fechaHasta" [min]="min23">
          <mat-datepicker-toggle matIconSuffix [for]="pickerDesde"></mat-datepicker-toggle>
          <mat-datepicker #pickerDesde></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="w-100">
          <mat-label>Hasta</mat-label>
          <input matInput [matDatepicker]="pickerHasta" formControlName="fechaHasta"
            [min]="formFiltros.value.fechaDesde">
          <mat-datepicker-toggle matIconSuffix [for]="pickerHasta"></mat-datepicker-toggle>
          <mat-datepicker #pickerHasta></mat-datepicker>
        </mat-form-field>
      </div>
    </form>
  </div>

  <app-full-tableV2 [showCreateButtonModal]="false"
    [showFilterInactivos]="false" [nombreMenu]="'Ingreso Operadores'" [columnConfigs]="columnConfigs"
    [fetchDataFunction]="viajesObs$" [parametros]="parametrosGeneralesIngresoOperador"
    [beforeExportExcelFunction]="apiRh.reporteOperadoresActualizarEstatusTimbrado.bind(apiRh)"
    [excelFileName]="'IngresoOperadores'" [tableConfigs]="tableConfigs"></app-full-tableV2>

</app-layout>