<!-- <app-modal-header [TITULO_MODAL]="TITULO_MODAL" [TIPO_MODAL]="TIPO_MODAL" [IS_EDITABLE]="IS_EDITABLE"
  (isEditableEvent)="editableChange($event)" (submitEvent)="onSubmit()"
  (closeModalEvent)="cerrarModal()"></app-modal-header> -->

<!-- <alert [type]="alertType" *ngIf="showAlert">{{ alertMessage }}</alert>
<app-loading [isLoading]="isLoading" [fondo]="true"></app-loading>

<div style="margin: 20px 5px 20px 5px">
    <div class="col-md-12">
        <mat-card>
          <mat-card-header>
            <mat-card-title>General</mat-card-title>
          </mat-card-header>
          <mat-card-content> -->
            <div id="map" style="width: 100%; height: 450px;"></div>
          <!-- </mat-card-content>
        </mat-card>
    </div>
  
    
  </div> -->