<app-modal-header [TITULO_MODAL]="TITULO_MODAL" [TIPO_MODAL]="TIPO_MODAL" [IS_EDITABLE]="IS_EDITABLE"
  (isEditableEvent)="editableChange($event)" (submitEvent)="onSubmit()"
  (closeModalEvent)="cerrarModal()"></app-modal-header>

<alert [type]="alertType" *ngIf="showAlert">{{ alertMessage }}</alert>
<app-loading [isLoading]="isLoading" [fondo]="true"></app-loading>
<!-- Campos para las propiedades del Operador -->
<div style="margin: 20px 5px 20px 5px">
  <div class="col-md-12">
    <form [formGroup]="formulario" class="permisionario-form">
      <mat-card>
        <mat-card-header>
          <mat-card-title>General</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-6">

              <mat-form-field class="custom-form-field">
                <mat-label>Sucursal</mat-label>
                <input [readonly]="!IS_EDITABLE" matInput formControlName="nombre" toUpperCase [maxLength]="250" />
                <mat-error> Campo obligatorio. </mat-error>
              </mat-form-field>
            </div>

            <div class="col-3">
              <mat-form-field class="custom-form-field">
                <mat-label>Clave</mat-label>
                <input [readonly]="!IS_EDITABLE" matInput formControlName="clave" toUpperCase [maxLength]="10" />
                <mat-error> Campo obligatorio. </mat-error>
              </mat-form-field>
            </div>

            <div class="col-3">
              <mat-form-field class="custom-form-field">
                <mat-label>Sucursal Referencia</mat-label>
                <input [readonly]="!IS_EDITABLE" matInput formControlName="idSucursalRef" toUpperCase [maxLength]="15" />
                <mat-error> Campo obligatorio. </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            
            <div class="col-4">
              <label for="TipoSucursal">Tipo sucursal</label>
              <ng-multiselect-dropdown
                [placeholder]="'Tipo Sucursal'"
                [settings]="dropdownSettings"
                [data]="tipoSucursales"
                  formControlName="tipoSucursalSelect"
                >
                </ng-multiselect-dropdown>
           
            </div>
            <div class="col-3">
              <label for="TipoSucursal">Compañias asignadas</label>
              <ng-multiselect-dropdown
                [placeholder]="'Compañias'"
                [settings]="dropdownSettings"
                [data]="companias"
                  formControlName="companiasSelect"
                >
                </ng-multiselect-dropdown>
            </div>
            <div class="col-4">
              <!-- <label for="SucursalGeocerca">Geocercas</label>
              <ng-multiselect-dropdown
                [placeholder]="'Geocercas'"
                [settings]="dropdownSettings"
                [data]="geocercas"
                  formControlName="geocercasSelect"
                >
                </ng-multiselect-dropdown> -->
                <br>
                  <mat-slide-toggle [disabled]="!IS_EDITABLE" formControlName="activo" style="padding-top: 10px;">
                    <div style="color: #4f4f4f; font-family: system-ui; font-weight: 600">
                      {{
                      formulario.get("activo")?.value ? "activo" : "inactivo"
                      }}
                    </div>
                  </mat-slide-toggle>
              <!-- <div style="position: relative; margin-bottom: 12px">
                  <label for="idPersonal" class="label">Empleado:</label>
                  <app-dropdown-fullV2 
                      [fetchDataFunction]="apiMantenimiento.obtenerGeocercaV2.bind(apiMantenimiento)"
                      [parametros]="parametrosPersonal"
                      [columnConfigs]="columnPersonalConfigs"
                      [placeholder]="'Selecciona geocerca..'"
                      [itemDefault]="geocercaSelected"
                      [displayColumnConfigDF]="displayColPersonal"
                      (enviarItemEvent)="seleccionaGeocerca($event)" 
                      [tableConfigs]="tableConfigs" >
                  </app-dropdown-fullV2>
                  
                   <div
                      *ngIf="formulario.get('idPersonal')?.touched && formulario.get('idPersonal')?.invalid">
                      <div *ngIf="formulario.get('idPersonal')?.errors?.['required']">
                          <span style="color:red;">Se requiere seleccionar un valor.</span>
                      </div>
                  </div> 
              </div> -->
          </div> 
            

        </div>
        <div class="row">
          <div class="col-2">
            
          </div>
        </div> 
        </mat-card-content>
      </mat-card>
    </form>
  </div>

  <div *ngIf="TIPO_MODAL == 'DETAIL'" class="col-md-12">
    <form [formGroup]="formulario" class="permisionario-form">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Auditoria</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-3">
              <mat-form-field class="custom-form-field">
                <mat-label>Creado por</mat-label>
                <input [readonly]="true" matInput [value]="this.sucursal.usuarioCreadoPor" />
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="custom-form-field">
                <mat-label>Modificado por</mat-label>
                <input [readonly]="true" matInput [value]="this.sucursal.usuarioModificadoPor" />
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field appearance="fill" class="custom-form-field">
                <mat-label>Fecha de Creación</mat-label>
                <input [readonly]="true" matInput formControlName="fechaCreacion" />
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field appearance="fill" class="custom-form-field">
                <mat-label>Fecha de modificación</mat-label>
                <input [readonly]="true" matInput formControlName="fechaModificacion" />
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>