<app-layout title="Nueva Unidad">
  <app-toolbar [showCreateButton]="false" [showFilterDate]="false" [showEditButton]="false" [showFilter]="false" [showExportButton]="false" (saveClicked)="onSubmit(unidadForm)"></app-toolbar>

  <alert [type]="alertType" *ngIf="showAlert">{{ alertMessage }}</alert>

  <div class="card mt-5">
    <div class="card-body">
      <form #unidadForm="ngForm" (ngSubmit)="onSubmit(unidadForm)">
        <div class="form-group">
          <label for="idUnidad">No Unidad:</label>
          <input type="number" class="form-control" id="idUnidad" name="idUnidad" [(ngModel)]="unidad.idUnidad" required>
        </div>

        <div class="form-group">
          <label for="idCompania">No Compania:</label>
          <input type="text" class="form-control" id="idCompania" name="idCompania" [(ngModel)]="unidad.idCompania">
        </div>

        <div class="form-graoup">
          <label for="clave">Clave:</label>
          <input type="text" class="form-control" id="clave" name="clave" [(ngModel)]="unidad.clave" required>
        </div>

        <div class="form-group">
          <label for="descripcion">Descripción:</label>
          <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="unidad.descripcion" required>
        </div>

        <div class="form-group">
          <label for="noSerie">No. de Serie:</label>
          <input type="text" class="form-control" id="noSerie" name="noSerie" [(ngModel)]="unidad.noSerie" required>
        </div>

        <div class="form-group">
          <label for="modelo">Modelo:</label>
          <input type="number" class="form-control" id="modelo" name="modelo" [(ngModel)]="unidad.modelo" required>
        </div>

        <div class="form-group">
          <label for="placas">Placas:</label>
          <input type="text" class="form-control" id="placas" name="placas" [(ngModel)]="unidad.placas">
        </div>

        <div class="form-group">
          <label for="idMarca">ID Marca:</label>
          <input type="text" class="form-control" id="idMarca" name="idMarca" [(ngModel)]="unidad.idMarca" required>
        </div>

        <div class="form-group">
          <label for="idTipoUnidad">ID Tipo de Unidad:</label>
          <input type="text" class="form-control" id="idTipoUnidad" name="idTipoUnidad" [(ngModel)]="unidad.idTipoUnidad" required>
        </div>

        <div class="form-group">
          <label for="activo">Activo:</label>
          <input type="checkbox" class="form-control" id="activo" name="activo" [(ngModel)]="unidad.activo">
        </div>

        <div class="form-group">
          <label for="fechaCreacion">Fecha creación:</label>
          <input type="text" class="form-control" id="fechaCreacion" name="fechaCreacion" [(ngModel)]="unidad.fechaCreacion">
        </div>

        <div class="form-group">
          <label for="creadoPor">Creado por:</label>
          <input type="text" class="form-control" id="creadoPor" name="creadoPor" [(ngModel)]="unidad.creadoPor" required>
        </div>

        <div class="form-group">
          <label for="fechaModificacion">Fecha modificación:</label>
          <input type="text" class="form-control" id="fechaModificacion" name="fechaModificacion" [(ngModel)]="unidad.fechaModificacion" required>
        </div>

        <div class="form-group">
          <label for="modificadoPor">Modificado por:</label>
          <input type="text" class="form-control" id="modificadoPor" name="modificadoPor" [(ngModel)]="unidad.modificadoPor">
        </div>

        <button type="submit" class="btn btn-primary">Crear Unidad</button>
      </form>
    </div>
  </div>
</app-layout>
