<form [formGroup]="zamForm" style="margin-top: 30px;">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>General</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>ID Cliente Lis</mat-label>
            <input matInput formControlName="idClienteLis" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>ID Unidad Lis</mat-label>
            <input matInput formControlName="idUnidadLis" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>ID Remolque Lis</mat-label>
            <input matInput formControlName="idRemolqueLis" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>ID Remolque 2 Lis</mat-label>
            <input matInput formControlName="idRemolque2Lis" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>ID Plaza Origen Lis</mat-label>
            <input matInput formControlName="idPlazaOrLis" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>ID Plaza Destino Lis</mat-label>
            <input matInput formControlName="idPlazaDeLis" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>ID Ruta Lis</mat-label>
            <input matInput formControlName="idRutaLis" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>ID Operador Lis</mat-label>
            <input matInput formControlName="idOperadorLis" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>ID Línea Remolque 1 Lis</mat-label>
            <input matInput formControlName="idLineaRem1Lis" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>ID Línea Remolque 2 Lis</mat-label>
            <input matInput formControlName="idLineaRem2Lis" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>ID Sucursal Lis</mat-label>
            <input matInput formControlName="idSucursalLis" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>ID Cliente Remitente Lis</mat-label>
            <input matInput formControlName="idClienteRemitenteLis" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>ID Cliente Destinatario Lis</mat-label>
            <input matInput formControlName="idClienteDestinatarioLis" />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>