<app-layout title="Catalogo de clientes" >
  <app-toolbar 
  [showSaveButton]="false" 
  [showEditButton]="false"
  createRoute="/clientes/crearCliente" 
  (onFiltrar)="filtrarDatos($event)" 
  (onFiltrarActivos)="filtrarActivos($event)" 
  (dateRangeChanged)="filtrarPorFecha($event)"
  (dateRangeCleared)="onDateRangeCleared()"
  [excelFileName]="'CatalogoClientes'" 
  [idTablaExport]="'catalogoPrincipal'"></app-toolbar>
  <alert [type]="alertType" *ngIf="showAlert">{{ alertMessage }}</alert>

  <div class="row">
    <div class="col-md-12">
      <div class="small-font">
        <table id="catalogoPrincipal" class="table table-striped table-hover sticky-header">
          <thead class="thead-dark superponer">
            <tr>
              <!--<th>ID Cliente</th>-->
              <th>No.</th>
              <th>Nombre</th>
              <th>Estatus</th>
              <th>RFC</th>
              <th>Razon social</th>
              <th>Fecha creacion</th>
              <th>Fecha modificacion</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dato of datosFiltrados">
              <td>{{ dato.noCliente }}</td>
              <td>{{ dato.nombre }}</td>
              <td>{{ dato.activo ? 'Activo' : 'Inactivo' }}</td>
              <td>{{ dato.rfc }}</td>  
              <td>{{ dato.razonSocial }}</td>       
              <td>{{ dato.fechaCreacion | date:'dd/MM/yyyy' }}</td>
              <td>{{ dato.fechaModificacion | date:'dd/MM/yyyy' }}</td>
              <td>
                <!-- Grupo de botones para ver, editar y eliminar el elemento -->
                <div class="btn-group small-buttons" role="group" aria-label="Grupo de botones">
                  <button class="btn btn-secondary mr-1" (click)="goToVerCliente(dato)">Ver</button>
                  <button class="btn btn-secondary mr-1" (click)="goToEditarCliente(dato)">Editar</button>
                  <!--  <button class="btn btn-dark" (click)="promptDelete(dato.idCliente)">Eliminar</button>    -->
                  <button class="btn btn-dark" (click)="cambiarEstadoUnidad(dato)">{{ dato.activo == true ? 'Desactivar' : 'Activar'  }}</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</app-layout>
