<app-modal-header [TITULO_MODAL]="TITULO_MODAL" [TIPO_MODAL]="TIPO_MODAL" [IS_EDITABLE]="IS_EDITABLE"
    (isEditableEvent)="editableChange($event)" (submitEvent)="onSubmit()"
    (closeModalEvent)="cerrarModal()"></app-modal-header>

<alert [type]="alertType" *ngIf="showAlert">{{ alertMessage }}</alert>
    <app-loading [isLoading]="isLoading" [fondo]="true"></app-loading>
    <!-- Campos para las propiedades del Operador -->
    <div style="margin: 20px 5px 20px 5px;">
        <div class="col-md-12">
            <form [formGroup]="formulario" class="permisionario-form">
                <mat-card>
                    <mat-card-header style="justify-content: space-between;">
                        <mat-card-title>General</mat-card-title>
                        <mat-card-content>
                          <button mat-button style="display: flex; align-items:center;justify-content:center;padding-bottom:12px" (click)="verGafete()" >
                            <mat-icon>print</mat-icon>
                            Imprimir Gafete
                          </button>
                        </mat-card-content>

                    </mat-card-header>
                    <mat-card-content>
                        <div  class="row">
                            <div class="col-4">
                                <mat-form-field  class="custom-form-field">
                                    <mat-label>Nombres</mat-label>
                                    <input [readonly]="!IS_EDITABLE" matInput formControlName="nombre" toUpperCase />
                                    <mat-error *ngIf="formulario.get('nombre')?.hasError('required')">
                                        Campo obligatorio.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field  class="custom-form-field">
                                    <mat-label>Apellido paterno</mat-label>
                                    <input [readonly]="!IS_EDITABLE" matInput formControlName="apellidoPaterno" toUpperCase />
                                    <mat-error *ngIf="formulario.get('apellidoPaterno')?.hasError('required')">
                                        Campo obligatorio.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field  class="custom-form-field">
                                    <mat-label>Apellido materno</mat-label>
                                    <input [readonly]="!IS_EDITABLE" matInput formControlName="apellidoMaterno" toUpperCase />
                                    <mat-error *ngIf="formulario.get('apellidoMaterno')?.hasError('required')">
                                        Campo obligatorio.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <mat-form-field  class="custom-form-field">
                                    <mat-label>Email</mat-label>
                                    <input [readonly]="!IS_EDITABLE" matInput formControlName="email" toUpperCase/>
                                    <mat-error *ngIf="formulario.get('email')?.hasError('required')">
                                        Campo obligatorio.
                                    </mat-error>
                                    <mat-error *ngIf=" formulario.get('email')?.hasError('formatoInvalido')">
                                        Formato inválido.
                                    </mat-error>
                                    <mat-error *ngIf="formulario.get('email')?.hasError('dominioInvalido')">
                                        Dominio no permitido.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field  class="custom-form-field">
                                    <mat-label>RFC</mat-label>
                                    <input [readonly]="!IS_EDITABLE" matInput formControlName="rfc" toUpperCase/>
                                    <mat-error *ngIf="formulario.get('rfc')?.hasError('required')">
                                        Campo obligatorio.
                                    </mat-error>
                                    <mat-error *ngIf="formulario.get('rfc')?.hasError('pattern')">
                                        El rfc no tiene un formato válido.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                    </mat-card>
                </form>
                <form [formGroup]="formulario" class="permisionario-form">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Administrativo</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-4">
                                    <label for="idSucursal">Sucursal*</label>
                                    <app-dropdown-full style="margin-bottom: 20px !important; position: relative; display: block;" [data]="sucursales"
                                    [columnConfigs]="columnConfigsSucursal" [placeholder]="'Selecciona una sucursal'" [IS_EDITABLE]="IS_EDITABLE"
                                    [itemDefault]="sucursalSelect" [displayColumnConfigDF]="displayColumnConfSucursal"
                                    (enviarItemEvent)="onSeleccionaSucursal($event)">
                                    </app-dropdown-full>
                                </div>
                                <div class="col-4">
                                    <label for="idDepartamento">Departemento*</label>
                                    <app-dropdown-full style="margin-bottom: 20px !important; position: relative; display: block;" [data]="departamentos"
                                    [columnConfigs]="columnConfigsDepartamento" [placeholder]="'Selecciona un departamento'" [IS_EDITABLE]="IS_EDITABLE"
                                    [itemDefault]="departamentoSelect" [displayColumnConfigDF]="displayColumnConfDepartamento"
                                    (enviarItemEvent)="onSeleccionaDepartamento($event)">
                                    </app-dropdown-full>
                                </div>
                                <div class="col-4">
                                    <label for="idCategoria">Categoría*</label>
                                    <app-dropdown-full style="margin-bottom: 20px !important; position: relative; display: block;" [data]="categorias"
                                    [columnConfigs]="columnConfigsCategoria" [placeholder]="'Selecciona una categoria'" [IS_EDITABLE]="IS_EDITABLE"
                                    [itemDefault]="categoriaSelect" [displayColumnConfigDF]="displayColumnCategoria"
                                    (enviarItemEvent)="onSeleccionaCategoria($event)">
                                    </app-dropdown-full>
                                </div>
                                </div>
                            <div class="row">
                                <div class="col-4">
                                    <mat-form-field  class="custom-form-field">
                                        <mat-label>No. de nómina</mat-label>
                                        <input [readonly]="!IS_EDITABLE" matInput formControlName="noNomina" onlyDigit="id" />
                                        <mat-error *ngIf="formulario.get('noNomina')?.hasError('required')">
                                            Campo obligatorio.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-4">
                                    <br>
                                    <mat-slide-toggle [disabled]="!IS_EDITABLE" formControlName="activo">
                                        <div style="color: #4f4f4f; font-family: system-ui; font-weight: 600">
                                            {{
                                            formulario.get("activo")?.value ? "activo" : "inactivo"
                                            }}
                                        </div>
                                    </mat-slide-toggle>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </form>
            </div>
            <div  *ngIf="!IS_EDITABLE" class="col-md-12">
                <form [formGroup]="formulario" class="permisionario-form">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Auditoria</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-3"><mat-form-field appearance="fill" class="custom-form-field">
                                    <mat-label>Fecha de Creación</mat-label>
                                    <input [readonly]="true" matInput formControlName="fechaCreacion" dateFormat/>
                                </mat-form-field>
                                </div>
                                <div class="col-2">
                                    <mat-form-field  class="custom-form-field">
                                        <mat-label>Creado por</mat-label>
                                        <input [readonly]="true" matInput formControlName="usuarioCreadoPor" toUpperCase/>
                                    </mat-form-field>
                                </div>
                                <div class="col-3"><mat-form-field appearance="fill" class="custom-form-field">
                                    <mat-label>Fecha de modificación</mat-label>
                                    <input [readonly]="true" matInput formControlName="fechaModificacion" dateFormat/>
                                </mat-form-field></div>

                                <div class="col-2">
                                    <mat-form-field  class="custom-form-field">
                                        <mat-label>Modificado por</mat-label>
                                        <input [readonly]="true" matInput formControlName="usuarioModificadoPor" toUpperCase/>
                                    </mat-form-field>
                                </div>
                                <div class="col-2">
                                    <mat-form-field  class="custom-form-field">
                                        <mat-label>Id</mat-label>
                                        <input [readonly]="true" matInput formControlName="idPersonal" onlyDigit="id"/>
                                    </mat-form-field>
                                </div>
                            </div>

                        </mat-card-content>
                    </mat-card>
                </form>
            </div>
        </div>

